<div class="content">

	<div class="row">
	    <div class="col-md-3" ng-repeat="ins in instructors">
	        <div class="thumbnail">
	            <img ng-src="{{placeholder_url}}" alt="profile pic">
	            
	            <div class="caption">
	                <h3>{{ins.username}}</h3>
	                <p>Hi I'm {{ins.username}}.</p>
	                <p>
	                	<a
	                		class="btn btn-info"
	                		role="button">
	                		Consult
	                	</a>
	                	<a
	                		class="btn btn-default"
	                		role="button">
	                		Info
	                	</a>
	                </p>
	            </div>
	        </div>
	    </div>
	</div>

</div>